@model IEnumerable<RatesOfPlayers.Infrastructure.Web.Bets.ViewModels.BetViewModel>

@{
    ViewData["Title"] = "Список транзакций";
}

<h1>Список ставок</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Prize)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.SettlementDate)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
